@import '_colors';

.parent-card {
  border-radius: 1.25rem;
  padding: 0;
  @media screen and (min-width: 600px) {
    padding: 1rem 1.5rem;
  }
  & > .body-card {
    @media screen and (min-width: 600px) {
      width: 520px;
    }
  }
}

.logo {
  text-align: center;
}

.titleDiv {
  & > img {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
  & > :nth-child(2) {
    font-size: 1.25rem;
    color: $primary-color;
    font-weight: 600;
  }
  & > span {
    font-size: 0.875rem;
  }
}

.label {
  font-size: 0.75rem !important;
  color: #3b3a3c !important;
  font-weight: 400 !important;
}

.endSection {
  display: flex;
  flex-direction: column;
  & > button {
    margin: 0.5rem 0;
    padding: 0.625rem 0;
    border-radius: 2.375rem;
    border: 0;
    font-weight: 600;
    background-color: $primary-color;
    color: white;
  }
}

input {
  height: 3rem;
  border-radius: 0.5rem;
  font-weight: normal !important;
}

label {
  color: $dark-gray !important;
  font-size: 0.85rem !important;
  margin-top: 1.5rem;
}

.invalid-text {
  font-size: 0.75rem;
  color: #fe6168;
}
