@import 'colors';

button:focus,
button:active:focus,
button.active:focus {
  outline: none !important;
  outline-style: none !important;
}

::ng-deep mat-paginator {
  background-color: transparent !important;
}

table {
  width: 100%;
}

::ng-deep .mat-sort-header-arrow {
  color: white !important;
}

th,
td {
  width: auto;
  padding: 0.01rem 0.25rem !important;
  &:first-child {
    padding-left: 1rem !important;
  }
}

em {
  font-size: 1.25rem;
}

mat-form-field {
  width: 40%;
}

.text-right {
  text-align: right !important;
}

.btnView,
.btnEdit {
  color: $primary_color;
  &:disabled {
    color: rgba(13, 136, 188, 0.3);
  }
}

.btnDelete {
  color: $red;
  &:disabled {
    color: rgba(235, 87, 87, 0.3);
  }
}

.btnCopy {
  color: #3b3a3c;
  &:disabled {
    color: #3b3a3c50;
  }
}

th {
  width: 6.25rem;
  background-color: #3b3a3c;
  color: white;
  text-transform: uppercase;
  &:first-child {
    border-top-left-radius: 0.5rem;
  }
  &:last-child {
    border-top-right-radius: 0.5rem;
  }
}

.btn-excel {
  background-color: white !important;
  border: 1px solid #3b3a3c !important;
  border-radius: 0.5rem !important;
  &:disabled {
    border: 1px solid #ccc !important;
  }
}

.btnView,
.btnEdit,
.btnDelete,
.btnCopy {
  background: none;
  padding: 0.125rem 0.25rem;
  border: none;
  border-radius: 0.125rem;
  transition: 0.2s;
  &:enabled:hover {
    transform: scale(1.3);
  }
}

::ng-deep .mat-paginator-range-actions > button {
  outline: none !important;
}

::ng-deep .mat-sort-header-content {
  text-align: left !important;
}
