<ng-container>
  <div style="display: flex">
    <ng-container *ngIf="isFilterable">
      <nb-form-field style="width: 40%">
        <input
          id="searchOrgano"
          type="text"
          placeholder="Buscar..."
          nbInput
          shape="semi-round"
          fieldSize="large"
          maxlength="60"
          (keyup)="applyFilter($event)"
        />
        <nb-icon nbSuffix icon="buscar"> </nb-icon>
      </nb-form-field>
    </ng-container>

    <span style="flex: 1 0"></span>

    <mat-paginator
      *ngIf="isPageable"
      [pageSizeOptions]="paginationSizes"
      [pageSize]="defaultPageSize"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>

  <table
    aria-describedby="material-table"
    class="mat-elevation-z7 mt-2"
    mat-table
    [dataSource]="tableDataSource"
    matSort
    (matSortChange)="sortTable($event)"
  >
    <ng-container [matColumnDef]="'Acciones'">
      <th scope="col" mat-header-cell *matHeaderCellDef class="text-center">
        {{ this.accionesTitle }}
      </th>
      <td
        mat-cell
        *matCellDef="let element; let index = index"
        class="text-center"
      >
        <button
          *ngIf="btnEmailEnabled && enabledEmail(element)"
          matRipple
          [title]="this.emaillTitle"
          class="btnView"
          (click)="emitEmailAction(element)"
          [attr.disabled]="validateSendEmail(element) ? null : 'disabled'"
        >
          <em class="ent-web-mail"></em>
        </button>
        <button
          *ngIf="btnImageEnabled"
          matRipple
          [title]="this.imageTitle"
          class="btnView"
          (click)="emitImageAction(element)"
          [attr.disabled]="validateImage(element) ? null : 'disabled'"
        >
          <em class="ent-web-buscar"></em>
        </button>

        <button
          *ngIf="btnViewEnabled"
          matRipple
          [title]="this.viewTitle"
          class="btnView"
          (click)="emitViewAction(element)"
        >
          <em class="ent-web-eyes-open"></em>
        </button>
        <button
          *ngIf="btnEditEnabled"
          matRipple
          [title]="this.editTitle"
          class="btnEdit"
          (click)="emitEditAction(element)"
        >
          <em class="ent-web-edit"></em>
        </button>

        <button
          *ngIf="btnVirtualEnabled && validateExamen(element, 2)"
          matRipple
          [title]="this.virtualTitle"
          class="btnEdit"
          (click)="emitVirtualAction(element)"
        >
          <em class="ent-web-virtual"></em>
        </button>

        <button
          *ngIf="btnPresencialEnabled && validateExamen(element, 1)"
          matRipple
          [title]="this.presencialTitle"
          class="btnEdit"
          (click)="emitPresencialAction(element)"
        >
          <em class="ent-web-presencial"></em>
        </button>

        <button
          *ngIf="btnCopyEnabled"
          matRipple
          [title]="this.copyTitle"
          class="btnCopy"
          (click)="emitCopyElement(element)"
        >
          <em class="ent-web-copy fs-18"></em>
        </button>

        <button
          *ngIf="btnDeleteEnabled"
          matRipple
          [title]="this.deleteTitle"
          class="btnDelete"
          (click)="emitDeleteElement(element)"
          [disabled]="element.settings?.disableDelete || false"
        >
          <em class="ent-web-eliminar"></em>
        </button>
      </td>
    </ng-container>

    <ng-container
      *ngFor="let tableColumn of tableColumns"
      [matColumnDef]="tableColumn.name"
    >
      <ng-container *ngIf="tableColumn.isSortable; else notSortable">
        <th
          scope="col"
          mat-header-cell
          *matHeaderCellDef
          [mat-sort-header]="tableColumn.name"
          [ngStyle]="{
            width: tableColumn.width ? tableColumn.width : 'auto'
          }"
          [arrowPosition]="
            tableColumn.position === 'right' ? 'before' : 'after'
          "
        >
          <span>
            {{ tableColumn.name }}
          </span>
        </th>
      </ng-container>

      <ng-template #notSortable>
        <th
          scope="col"
          mat-header-cell
          *matHeaderCellDef
          [class.text-right]="tableColumn.position == 'right'"
        >
          {{ tableColumn.name }}
        </th>
      </ng-template>

      <td
        mat-cell
        *matCellDef="let element"
        [class.text-right]="tableColumn.position == 'right'"
        [ngStyle]="{ height: rowHeight }"
      >
        <span
          [class]="fontSize"
          [ngStyle]="{ color: element | colorPipeGetter: tableColumn.dataKey }"
        >
          {{ element | dataPropertyGetter: tableColumn.dataKey }}
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div
    *ngIf="this.tableDataSource.filteredData.length === 0"
    class="p-3 mat-elevation-z1"
    style="background-color: white"
  >
    No se encontraron resultados
  </div>

  <div class="row px-3 mt-3" *ngIf="showDownloadButton">
    <span style="flex: 1 0"></span>
    <button
      class="btn-excel px-4 py-1"
      mat-stroked-button
      outline
      (click)="exportData()"
      [disabled]="this.tableDataSource.filteredData.length === 0"
    >
      <span> Descargar Excel </span>
      <nb-icon icon="descargar"></nb-icon>
    </button>
  </div>
</ng-container>
