@import './colors';
@import './flex';
@import './text';
@import './spin';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap');

@import 'themes';
@import './material.theme.scss';

// framework component themes (styles tied to theme variables)
@import '../../../../../node_modules/@nebular/theme/styles/globals';
@import 'pace.theme';

@import 'layout';
@import 'overrides';

html {
  scroll-behavior: smooth;
}

@media only screen and (min-width: 2000px) {
  html {
    font-size: 1.25rem !important;
  }
}

@media only screen and (max-width: 1400px) {
  html {
    font-size: 0.875rem !important;
  }
}

@include nb-install() {
  // framework global styles
  @include nb-theme-global();
  //@include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();
  @include nb-overrides();
}

.material-icons {
  font-family: 'Material Icons', sans-serif !important;
}

.mat-body,
.mat-body-1 {
  font-size: 1rem !important;
}

* {
  font-family: Roboto, sans-serif !important;
}

*::placeholder {
  font-family: Roboto, sans-serif !important;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border-color: #e4e9f2 !important;
}

label {
  font-weight: 400 !important;
  color: #3b3a3c !important;
  font-size: 0.813rem !important;
}

.titlePage {
  font-size: 1.6rem;
  color: #0d88bc !important;
}

.dashboardSidebar {
  z-index: 1;
}

.nb-card-header-modal-reasignar {
  border: none !important;
}

.col-10-100 {
  width: 10%;
  padding-right: 0.938rem;
  padding-left: 0.938rem;
}
.col-20-100 {
  width: 20%;
  padding-right: 0.938rem;
  padding-left: 0.938rem;
}
.col-30-100 {
  width: 30%;
  padding-right: 0.938rem;
  padding-left: 0.938rem;
}
.col-40-100 {
  width: 40%;
  padding-right: 0.938rem;
  padding-left: 0.938rem;
}
.col-50-100 {
  width: 50%;
  padding-right: 0.938rem;
  padding-left: 0.938rem;
}
.col-60-100 {
  width: 60%;
  padding-right: 0.938rem;
  padding-left: 0.938rem;
}
.col-70-100 {
  width: 70%;
  padding-right: 0.938rem;
  padding-left: 0.938rem;
}
.col-80-100 {
  width: 80%;
  padding-right: 0.938rem;
  padding-left: 0.938rem;
}
.col-90-100 {
  width: 90%;
  padding-right: 0.938rem;
  padding-left: 0.938rem;
}

.btn-excel {
  background-color: white !important;
  border: 1px solid #3b3a3c !important;
  border-radius: 0.5rem !important;
  &:disabled {
    border: 1px solid #ccc !important;
  }
}

button {
  text-transform: none !important;
  outline: none !important;
  &:focus {
    outline: none !important;
  }
}

.popoverTrigger {
  cursor: pointer;
  color: $primary_color !important;
  font-size: 1rem !important;
}

.btnClose {
  cursor: pointer;
  transition: 0.2s;
  color: rgb(70, 70, 70);
  &:hover {
    color: black;
    transform: scale(1.2);
  }
}

.body {
  padding: 2rem !important;
  background-color: white;
}

.padding-body {
  padding: 2rem !important;
}

.mat-horizontal-content-container {
  padding: 0 !important;
}

.mat-step-label {
  padding-top: 0.625rem !important;
}

.btn_area {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  & > button {
    width: 45% !important;
  }
}

.nb-form-field-suffix-large {
  z-index: 0 !important;
}

.nb-form-field-addon.nb-form-field-prefix-large.nb-form-field-addon-basic {
  z-index: 0 !important;
}
