// @nebular theming framework
@import '../../../../../node_modules/@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '../../../../../node_modules/@nebular/theme/styles/themes';
@import '_colors';

nav.fixed {
  box-shadow: none !important;
}

$nb-themes: nb-register-theme(
  (
    layout-padding: 0,
    layout-background-color: white,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
    // Input
    input-basic-background-color: white,
    input-basic-hover-background-color: white,
    input-basic-text-color: $dark-gray,
    input-basic-hover-border-color: #0d88bc,
    input-danger-background-color: #fff3f3,
    input-danger-border-color: #eb5757,
    input-danger-hover-background-color: #fff3f3,
    input-danger-focus-border-color: #eb5757,
    input-large-text-font-weight: 400,
    input-medium-text-font-weight: 400,
    input-medium-max-width: none,
    input-small-text-font-weight: 400,
    input-tiny-text-font-weight: 400,
    input-large-placeholder-text-font-size: 0.875rem,
    input-medium-placeholder-text-font-size: 0.813rem,
    input-medium-placeholder-text-color: #ccc,
    input-basic-placeholder-text-color: #ccc,
    input-primary-placeholder-text-color: #ccc,
    // Select
    select-outline-basic-background-color: white,
    select-outline-basic-hover-background-color: white,
    select-outline-basic-hover-border-color: #0d88bc,
    select-outline-danger-background-color: #fff3f3,
    select-outline-danger-border-color: #eb5757,
    select-tiny-text-font-weight: 400,
    select-tiny-placeholder-text-font-weight: 400,
    select-small-text-font-weight: 400,
    select-small-placeholder-text-font-weight: 400,
    select-medium-text-font-weight: 400,
    select-medium-placeholder-text-font-weight: 400,
    select-large-text-font-weight: 400,
    select-large-placeholder-text-font-weight: 400,
    select-large-placeholder-text-font-size: 0.875rem,
    select-outline-basic-placeholder-text-color: #ccc,
    option-tiny-text-font-weight: 400,
    option-small-text-font-weight: 400,
    option-medium-text-font-weight: 400,
    option-large-text-font-weight: 400,
    //Sidebar
    sidebar-padding: 0,
    // Toggle
    toggle-switcher-size: 0.67rem,
    toggle-switcher-icon-size: 0,
    toggle-height: 0.8rem,
    toggle-width: 2rem,
    toggle-outline-color: rgba(0, 0, 0, 0),
    toggle-text-font-weight: normal,
    toggle-basic-background-color: rgb(130, 130, 130),
    toggle-primary-background-color: rgb(130, 130, 130),
    toggle-cursor: pointer,
    toggle-basic-disabled-background-color: rgb(195, 226, 239),
    toggle-basic-disabled-border-color: rgb(195, 226, 239),
    toggle-basic-disabled-switcher-background-color: rgb(255, 255, 255),
    toggle-basic-disabled-text-color: rgb(195, 226, 239),
    // Button
    button-outline-primary-background-color: white,
    button-filled-primary-disabled-background-color: #f5f5f5,
    button-outline-primary-disabled-background-color: #f5f5f5,
    button-filled-primary-disabled-border-color: #e6e6e6,
    button-outline-primary-disabled-border-color: #e6e6e6,
    //Tree Grid
    tree-grid-cell-padding: 0.125rem 1.25rem,
    // Radio
    radio-text-font-weight: 400,
    color-primary-100: #ccfafb,
    color-primary-200: #9beff8,
    color-primary-300: #67d5ea,
    color-primary-400: #40b4d6,
    color-primary-500: rgb(13, 136, 188),
    color-primary-600: #096aa1,
    color-primary-700: #064f87,
    color-primary-800: #04386d,
    color-primary-900: #02285a,
    color-primary-transparent-100: rgba(13, 136, 188, 0.08),
    color-primary-transparent-200: rgba(13, 136, 188, 0.16),
    color-primary-transparent-300: rgba(13, 136, 188, 0.24),
    color-primary-transparent-400: rgba(13, 136, 188, 0.32),
    color-primary-transparent-500: rgba(13, 136, 188, 0.4),
    color-primary-transparent-600: rgba(13, 136, 188, 0.48),
    color-success-100: #d4fad4,
    color-success-200: #aaf6b3,
    color-success-300: #7be693,
    color-success-400: #56ce7d,
    color-success-500: #27ae60,
    color-success-600: #1c955b,
    color-success-700: #137d55,
    color-success-800: #0c644c,
    color-success-900: #075345,
    color-success-transparent-100: rgba(39, 174, 96, 0.08),
    color-success-transparent-200: rgba(39, 174, 96, 0.16),
    color-success-transparent-300: rgba(39, 174, 96, 0.24),
    color-success-transparent-400: rgba(39, 174, 96, 0.32),
    color-success-transparent-500: rgba(39, 174, 96, 0.4),
    color-success-transparent-600: rgba(39, 174, 96, 0.48),
    color-info-100: #e3fffe,
    color-info-200: #c8fcff,
    color-info-300: #acf5ff,
    color-info-400: #98ebff,
    color-info-500: #76dcff,
    color-info-600: #56afdb,
    color-info-700: #3b86b7,
    color-info-800: #256093,
    color-info-900: #16447a,
    color-info-transparent-100: rgba(118, 220, 255, 0.08),
    color-info-transparent-200: rgba(118, 220, 255, 0.16),
    color-info-transparent-300: rgba(118, 220, 255, 0.24),
    color-info-transparent-400: rgba(118, 220, 255, 0.32),
    color-info-transparent-500: rgba(118, 220, 255, 0.4),
    color-info-transparent-600: rgba(118, 220, 255, 0.48),
    color-warning-100: #fff8d4,
    color-warning-200: #ffefa9,
    color-warning-300: #ffe47e,
    color-warning-400: #ffd95e,
    color-warning-500: #ffc729,
    color-warning-600: #dba41d,
    color-warning-700: #b78414,
    color-warning-800: #93650d,
    color-warning-900: #7a5007,
    color-warning-transparent-100: rgba(255, 199, 41, 0.08),
    color-warning-transparent-200: rgba(255, 199, 41, 0.16),
    color-warning-transparent-300: rgba(255, 199, 41, 0.24),
    color-warning-transparent-400: rgba(255, 199, 41, 0.32),
    color-warning-transparent-500: rgba(255, 199, 41, 0.4),
    color-warning-transparent-600: rgba(255, 199, 41, 0.48),
    color-danger-100: #fde2d3,
    color-danger-200: #fcbfa8,
    color-danger-300: #f6927b,
    color-danger-400: #ed6859,
    color-danger-500: #e22926,
    color-danger-600: #c21b27,
    color-danger-700: #a21329,
    color-danger-800: #830c28,
    color-danger-900: #6c0728,
    color-danger-transparent-100: rgba(226, 41, 38, 0.08),
    color-danger-transparent-200: rgba(226, 41, 38, 0.16),
    color-danger-transparent-300: rgba(226, 41, 38, 0.24),
    color-danger-transparent-400: rgba(226, 41, 38, 0.32),
    color-danger-transparent-500: rgba(226, 41, 38, 0.4),
    color-danger-transparent-600: rgba(226, 41, 38, 0.48),
  ),
  default,
  default
);
